.link {
    color: #000;
}

.link:hover {
     color: #000
}

.imgFormat {
    max-width:180px;
    max-height:150px;
    width: auto;
    height: auto;
}

.characters {
    margin: 10px 10px 10px 0px;
}

.pagination {
    margin: 10px 10px 30px 0px;
}